* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #333
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between logo and text */
}

.logo-container img {
    width: 60px;  /* Adjust size of logo */
    height: auto;
}

.restaurant-name {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #e44d26;
}

/*Hero section*/

/*About Section*/

/*Services Section*/

/*Footer Section*/
